body {
  font-family: Arial;
  margin: 0;

  background-image: url("math-calculate.gif");
  background-position: center;
  background-size: cover;
}

.container {
  width: 320px;
  margin: auto;
  padding-top: 30px;
  text-align: center;
}

.box {
  background-color: rgba(0, 60, 255, 0.322);
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;
}

input {
  width: 100%;
  margin-top: 8px;
  padding: 8px;
  display: block;
}


button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
}

p {
  margin-top: 10px;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}